<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns/log4j"
               xsi:schemaLocation="https://logging.apache.org/xml/ns/log4j https://logging.apache.org/xml/ns/log4j-config-2.xsd"
               status="WARN">

    <Appenders>
        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5p] %c - %m%n"/>
        </Console>

        <!-- File output -->
        <File name="FileLogger" fileName="logs/app.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] %c - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Your application logging -->
        <Logger name="com.solvd.delivery" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Catch all others -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
